.DS_Store
.idea
build/iOS
build/android
node_modules
game/*.js
game/*.map
def/*.js
def/*.map
test/*.js
test/*.map
build/release
.tscache
tmp
typings
def/game/src/**/*.js
def/game/src/**/*.map
game/src/**/*.js
game/src/**/*.map
coverage
tscommand*tmp*txt
npm-debug.log
.vscode
